/*====================INDEX------------------------------*/
.titulo_objetivo
{
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
}

.container_descricao
{
    width: 40%;
    border-radius: 20px;
    padding-left: 11%;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.ul_objetivo
{
    text-align: justify;
    padding-right: 18%;
}

.row_play {
    padding-right: 35%
}

.play
{
    font-size: 2.8vw;
    background: rgb(0, 137, 248);
    border-radius: 10px;
    width: 45%;
    margin-bottom: 10px;
    height: 5vw;
    text-align: center;
}

.play > *{
    opacity: 0.7;
}

.play > *:hover{
    opacity: 1;
}

/*-----------jogo------------------------------------------*/
.container_jogo{
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    width: 99vw;
    height: 100vh;
}

.hud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 1vh 0 0 0;
}

.tempo{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    width: 19vw;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;
    margin-left:9%;
}

.pontos{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    width: 19vw;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;
    margin-right:9%;
}

.campValor{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
    font-size: 16pt;
    font-weight: bold;
   
}

.cronometro{
    background-color: #F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 68%;
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    font-family: fantasy;
}
.points{
    background-color: #F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 10px;
    width: 100%;
    height: 77%;
    position: relative;
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    font-family: fantasy;

}

.quiz{
    display: flex;
    flex-wrap: wrap;
    height: 76vh;
    width: 69vw;
    margin-left: 15vw;
    margin-bottom: 5vw;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;

}
 
.enunciado{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 25%;
    padding-top: 50px;
    font-weight: bold;
    font-size: 14pt;
    text-align: justify;
    padding-right: 4%;
    padding-left: 4%;
}

.alternativas{
    background-color:#F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 75%;
    padding-top: 3%;
    padding-bottom: 0.25%;
    padding-left: 3%;
    padding-right: 3%;
}

.groupAlt{
    background-color: #c3d4f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    height: 85%;
    margin-top: 0.5%;
    font-weight: 500;
    /*padding-top: 0.85%;
    padding-left: 0.5%;
    padding-right: 0.5%;*/
}

.alt {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /*margin-bottom: 0.7%;*/
    padding-left: 0.5%;
    width: 100%;
    height: 25%;
    text-align: justify;
    cursor: pointer;
    display: inline-flex;
    border-radius: inherit;
    margin-bottom: 1%;
    padding-top: 1%;
    border-style: solid;
    border-color: #808080a6;
}
.alt:hover{
    border-color: blue;
}
.alternativa{
    padding-right:1%;
}
.indice{
    font-weight: 400;
    color: white;
    font-family: fantasy;
    font-size: 6vh;
}
@media (min-width: 320px) and (max-width: 480px) {
    .quiz {
        width: 83vw;
        margin-left: 9vw;
    }
    .tempo {
        width: 23vw;
        margin-left: 6%;
    }
    .cronometro {
        font-size:29px;
    }
    .pontos {
        width: 22vw;
        margin-right: 6%;
    }
    .points {
        font-size: 40px;
    }
    .titulo_objetivo {
        font-size: 28px;
    }
    .container_descricao {
        width: 90%;
        padding-left: 15%;
    }
    .play
    {
        font-size: 20px;
        height: 30px;
        text-align: center;
    }
    .row_play {
        padding-right: 20%;
    }
}