/*====================INDEX------------------------------*/
.titulo_objetivo
{
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
}

.container_descricao
{
    width: 40%;
    border-radius: 3%;
    padding-left: 11%;
    padding-top: 5%;
    background-color: rgba(255, 255, 255, 0.3);
}

.ul_objetivo
{
    text-align: justify;
    padding-right: 18%;
}

.play
{
    font-size: 2.8vw;
    background: rgb(0, 137, 248);
    border-radius: 7%;
    width: 45%;
    margin-bottom: 3%;
    height: 5vw;
    text-align: center;
}

.play > *{
    opacity: 0.7;
}

.play > *:hover{
    opacity: 1;
}

/*-----------jogo------------------------------------------*/
.container_jogo{
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    width: 99vw;
    height: 100vh;
}

.hud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 1vh 0 0 0;
}

.tempo{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    width: 25vw;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;
}

.pontos{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    width: 25vw;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;
}

.campValor{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
    font-size: 16pt;
    font-weight: bold;
   
}

.cronometro{
    background-color:#F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 10px;
    width: 100%;
    height: 77%;
    position: relative;
    text-align: center;
    padding-top: 30px;
}
.points{
    background-color:#F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 10px;
    width: 100%;
    height: 77%;
    position: relative;
    text-align: center;
    padding-top: 30px;

}

.quiz{
    display: flex;
    flex-wrap: wrap;
    height: 76vh;
    width: 75vw;
    margin-left: 12vw;
    margin-bottom: 5vw;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: #ffffffaa;
    text-align: center;

}
 
.enunciado{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 25%;
    padding-top: 50px;
    font-weight: bold;
    font-size: 12pt;
}

.alternativas{
    background-color:#F0F8FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 75%;
    padding-top: 3%;
    padding-bottom: 0.25%;
    padding-left: 3%;
    padding-right: 3%;
}

.groupAlt{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    height: 85%;
    margin-top: 0.5%;
    /*padding-top: 0.85%;
    padding-left: 0.5%;
    padding-right: 0.5%;*/
}

.altA {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /*margin-bottom: 0.7%;*/
    padding-left: 0.5%;
    width: 100%;
    height: 25%;
    text-align: justify;
    cursor: pointer;
}

.altB{
    background-color: gray;
    /*margin-bottom: 0.5%;*/
    padding-left: 0.5%;
    width: 100%;
    height: 25%;
    text-align: justify;
    cursor: pointer;
    
}

.altC{
    background-color: white;
    /*margin-bottom: 0.5%;*/
    padding-left: 0.5%;
    width: 100%;
    height: 25%;
    text-align: justify;
    cursor: pointer;
}

.altD{
    background-color: gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 0.5%;
    width: 100%;
    height: 25%;
    text-align: justify;
    cursor: pointer;
}