body{
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
}

.FormC {
margin-top: 3%;
margin-bottom:11.6%;
background: transparent!important;
align-items: center;
}

.FormC b {
    font-size: 155%;
    background: transparent!important;

}
.inputs{
    width: 100%;
}

.cad
{
    padding-left:25%;
}
.FieldD
{
    padding-left: 0px;
}



.inputV {
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    
    color:white;
    height: 7vh;
    width: 100%;
    
}
.inputCS{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    color:white;
    height: 7vh;
}
.container-x1
{
    width: 95%

}
.inputCC{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    color:white;
    height: 7vh;
}
::-webkit-input-placeholder {
    color: rgb(184, 184, 184);
}

.CadT {
    margin: auto;
    margin-top: -10%!important;
    font-size: 10vw;
    color: white;
    background: transparent!important;
    
}
.Part{
    position : absolute;
    width:65vw;
    height:100%;
    z-index:-1;
}
.CadS {
    font-size: x-large;
    overflow-wrap: break-word;
    color: white;
    background: transparent!important;
}
.img-logo.login{
    height: 31vw;
    min-height: 150px;
    max-height: 260px;
}
.col.image{
    text-align: center;
    padding-top: 25px;
}
.TituloC {
    width: 380px;
    background-color: transparent !important;
    padding: 5% 3%;
}
.container-xl.cadastro{
    margin-top: 17%;
}
form.cad{
    display: block;
}
.img-logo.cad{
    height: 31vw;
    min-height: 150px;
    max-height: 260px;
    padding-left: 20%;
}
@keyframes Flick {
    from {color: white;background-color: white !important;} to
    {color: transparent;background-color: transparent;}
}

.Flick {
    height: 3px;
    width: 20px;
    color: white;
    background-color: white;
    animation-name: Flick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes BordShine {
    from {border: solid 2px rgb(197, 197, 197);} to
    {border: solid 2px rgb(255, 255, 255);}
}

.CadBtn {
    width: 200px;
    float: right;
    color: white;
    background-color: #015df0 !important;
    border:none;
    margin-right: 20%;
    margin-top: 10px;
    padding-bottom: 40px!important;
    height: 8vh;
    border: solid 2px rgb(197, 197, 197);

}

.CadBtn:hover {
    animation-name: BordShine;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Presc {
    color: white;
    background-color: transparent !important;
}


.linkC {
    text-decoration: none;
    color: white;
    margin-left: auto!important;
    background-color: transparent !important;
    font-size: small!important;

}

.linkC:hover {
    text-decoration: none;
    color: white;
    background-color: transparent !important;
}

a.redirectLogin{
    color: #0426a5;
    text-decoration: underline;
}
.possuiConta{
    color: white;
    text-decoration: solid;
}
@media (max-width: 375px) {
    .TituloC{
    width: 290px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .linkC{
        
        font-size: medium;
    }
    .CadBtn{
        width: 150px;
        font-size: large;
        margin-right: 25%;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputV{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }
    .FormC{
        padding-left: 22px;
    }
    .possuiConta
    {
        margin-right: 25%; 
        margin-left: -25%;
    }

}
@media (min-width:365px) and (max-width: 375px) {
    .TituloC{
        width: 310px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .linkC{
        font-size: large;
    }
    .inputV{
        width: 100%;
        font-size: x-large;
    }
    .inputV.log{
        width: 130%;
    }
}
@media (min-width: 376px) and (max-width: 460px)
{
    .CadBtn{
        margin-right: 30%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 30%; 
        margin-left: -100%;
    }
}
@media (min-width: 460px) and (max-width: 767px)
{
    .CadBtn{
        margin-right: 40%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 40%; 
        margin-left: -100%;
    }
}

@media (min-width: 768px)
{
    .CadBtn{
        margin-right: 30%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 30%;
        margin-left: -100%; 
    }
}