body{
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
}

.FormC {
margin-top: 6%;
margin-bottom:11.6%;
max-width:700px;
background: transparent!important;
}

.FormC b {
    font-size: 150%;
    background: transparent!important;

}

.inputC {
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 105%;
    color:white;
    height: 7vh;
    
}
.inputCS{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 60%;
    color:white;
    height: 7vh;
}
.inputCC{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 160%;
    color:white;
    height: 7vh;
}
::-webkit-input-placeholder {
    color: rgb(184, 184, 184);
}

.CadT {
    margin: auto;
    font-size: 5vw;
    color: white;
    background: transparent!important;
    
}
.Part{
    position : absolute;
    width:65vw;
    height:100%;
    z-index:-1;
}

@keyframes BordShine {
    from {border: solid 2px rgb(197, 197, 197);} to
    {border: solid 2px rgb(255, 255, 255);}
}

.CadBtn {
    width: 200px;
    float: right;
    color: white;
    background-color: #015df0 !important;
    border:none;
    margin-right: 25%;
    margin-top: 10px;
    height: 8vh;
    border: solid 2px rgb(197, 197, 197);

}

.CadBtn:hover {
    animation-name: BordShine;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Presc {
    color: white;
    background-color: transparent !important;
}


.linkC {
    text-decoration: none;
    color: white;
    margin-left: 29%;
    background-color: transparent !important;
}

.linkC:hover {
    text-decoration: none;
    color: white;
    background-color: transparent !important;
}

@media (min-width:320px) and (max-width: 375px) {
    .TituloC{
        
    width: 290px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .linkC{
        margin: 46px;
        font-size: small;
    }
    .CadBtn{
        width: 150px;
        font-size: large;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }

}
@media (min-width:365px) and (max-width: 375px) {
    .TituloC{
        
    width: 310px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }

}

@media (min-width:376px) and (max-width: 504px) {
    .TituloC{
        
    width: 360px;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputC{
        width: 107%;
        font-size: x-large;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        font-size: large;
    }
    .inputCS{
        width: 105%;
        font-size: x-large;
    }
    .inputCC{
        width: 117%;
        font-size: x-large;
    }
    
    .linkC{
        font-size: small;
   }
}
@media (min-width:376px) and (max-width: 423px) {
    .TituloC{
        
    width: 360px;
    }
   
    .inputC{
        width: 107%;
        font-size: x-large;
    }
    .inputCS{
        width: 105%;
        font-size: x-large;
    }
    .inputCC{
        width: 107%;
        font-size: x-large;
    }

}
@media (min-width:424px) and (max-width: 462px) {
    .TituloC{
        
    width: 360px;
    }
   
    .inputC{
        width: 107%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 113%;
        font-size: x-large;
    }

}
@media (min-width:463px) and (max-width: 504px) {
    .TituloC{
        
    width: 430px;
    }.inputCS{
        width: 94%;
        font-size: x-large;
    }
    .inputCC{
        width: 115%;
        font-size: x-large;
    }
}

@media (min-width:505px) and (max-width: 599px) {
    .TituloC{
        
    width: 420px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        font-size: x-large;
    }
    .inputC{
        width: 115%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 125%;
        font-size: x-large;
    }
    .linkC{
        font-size: x-large;
   }
}
@media (min-width:600px) and (max-width: 789px) {
    .TituloC{
        
    width: 570px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        padding-bottom: 8%;
    }
    .inputC{
        
        width: 120%;
        font-size: xx-large;
    }
    .inputCS{
        width: 112%;
        font-size: xx-large;
    }
    .inputCC{
        width: 126%;
        font-size: xx-large;
    }
    .CadBtn{
        font-size: x-large;
    }
    
    .linkC{
        font-size: x-large;
   }
}

@media (min-width:600px) and (max-width: 641px) {
   
    .inputC{
        
        width: 120%;
        font-size: xx-large;
    }
    .inputCS{
        width: 111%;
        font-size: xx-large;
    }
    .inputCC{
        width: 130%;
        font-size: xx-large;
    }
}

@media (min-width:789px) and (max-width: 1000px) {
    .inputC{
        font-size: x-large;
        width: 100%;
    }
    .inputCS{
        font-size: x-large;
        width: 90%;
    }
    .inputCC{
        font-size: x-large;
        width: 110%;
    }
    .TituloC{
        padding: 5% 4%;
    }
    .CadT{
        margin: auto;
        font-size: 6vw;
    }
    .CadBtn{
        font-size: x-large;
    }
    
    .linkC{
        font-size: x-large;  
   }
}
@media (min-width:789px) and (max-width: 859px) {
    .TituloC{
        font-size: xx-large;
        width: 740px;
    }
    .inputCS{
        font-size: x-large;
        width: 163%;
    }
    .FieldD{
        margin-right: 10%;
    }
    .inputC{
        
        width: 190%;
        font-size: x-large;
    }
    .inputCC{
        
        width: 205%;
        font-size: x-large;
    }
    
}

@media (min-width:799px) and (max-width: 1000px) {
    .CadS{
        font-size: x-large;
    }
    .CadBtn{
        padding-bottom: 7%;
    }
    .FormC{
        margin-left: 30vw;
    }
    .inputCS{
        font-size: x-large;
        width: 82%;
    }
    .inputC{
        
        width: 95%;
        font-size: x-large;
    }
    .inputCC{
        
        width: 102%;
        font-size: x-large;
    }
    
}

@media (min-width:1000px) and (max-width: 1440px) {
    .TituloC{
        padding: 10% 5%;
        width: 460px;
    }
    .CadS{
        font-size: x-large;
    }
    .FormC{
        margin-left: 30vw;
    }
    .linkC{
         font-size: x-large;
            margin-left: 31%;
        
    }
    .inputC{
        font-size: x-large;
    }
    .inputCS{
        width: 90%;
        font-size: x-large;
    }
    .inputCC{
        font-size: x-large;
        width: 115%;
    }
    .CadBtn{
        
        padding-bottom: 7%;
        font-size: x-large;
    }
}
@media (min-width:1100px) and (max-width: 1300px) {
    .TituloC{
        padding: 10% 5%;
        width: 520px;
    }
    .CadS{
        font-size: xx-large;
    }
    .CadBtn{
        
        padding-bottom: 5%;
        font-size: x-large;
    }
}
@media (min-width:1250px) and (max-width: 1440px) {
    .TituloC{
        padding: 6% 5%;
        width: 510px;
    }
    .FormC{
        margin-left: 26vw;
    }
    .CadT{
        margin: auto;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: x-large;
    }
}
@media (min-width:1440px) and (max-width: 2560px) {
    .FormC{
        margin-left: 24vw;
    }
    .TituloC{
        padding: 10% 2%;
        width: 510px;
    }
    
    .inputCS{
        width: 90%;
        font-size: x-large;
    }
    .inputCC{
        font-size: x-large;
        width: 115%;
    }
    
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;

    }
}
@media (min-width:1733px) and (max-width: 2560px) {
    .TituloC{
        padding: 1%;
        width: 510px;
    }
    .CadT{
        margin: auto;
        font-size: 4vw;
    }
    .Presc{
        font-size: 12vh;
    }
    .CadS{
        font-size: xx-large;
    }
    .FormC{
        margin-left: 18vw;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;
    }
}

@media (min-width:1800px) and (max-width: 2560px) {
    
    .CadT{
        margin: auto;
    }
    .CadS{
        
        font-size: xx-large;
    }
}
@media (min-width:2000px) and (max-width: 2560px) {
    .FormC{
        margin-left: 16vw;
    }
    
    .CadT{
        margin: auto;
    }
    .CadS{
        
        font-size: xx-large;
    }
}

@media (min-width:2380px) and (max-width: 2560px) {
    .FormC{
        margin-left: 14vw;
    }
    .TituloC{
        padding: 1%;
        width: 510px;
    }
    .CadT{
        margin: auto;
    }
    .Presc{
        font-size: 12vh;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;
    }
}

