body{
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
}

.FormC {
margin-top: 3%;
margin-bottom:11.6%;
background: transparent!important;
}

.FormC b {
    font-size: 150%;
    background: transparent!important;

}

.inputC {
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    
    color:white;
    height: 7vh;
    width: 88%;
    
}
.inputCS{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 60%;
    color:white;
    height: 7vh;
}
.inputCC{
    background-color: #0255da !important;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 160%;
    color:white;
    height: 7vh;
}
::-webkit-input-placeholder {
    color: rgb(184, 184, 184);
}

.CadT {
    margin: auto;
    margin-top: -10%!important;
    font-size: 5vw;
    color: white;
    background: transparent!important;
    
}
.Part{
    position : absolute;
    width:65vw;
    height:100%;
    z-index:-1;
}
.CadS {
    font-size: x-large;
    overflow-wrap: break-word;
    color: white;
    background: transparent!important;
}
.img-logo.login{
    height: 31vw;
    min-height: 150px;
    max-height: 260px;
}
.col.image{
    text-align: center;
    padding-top: 25px;
}
.TituloC {
    width: 380px;
    background-color: transparent !important;
    padding: 5% 3%;
}
.container-xl.cadastro{
    margin-top: 17%;
}
form.cad{
    display: block;
}
.img-logo.cad{
    height: 31vw;
    min-height: 150px;
    max-height: 260px;
    margin-top: 89px;
}
@keyframes Flick {
    from {color: white;background-color: white !important;} to
    {color: transparent;background-color: transparent;}
}

.Flick {
    height: 3px;
    width: 20px;
    color: white;
    background-color: white;
    animation-name: Flick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes BordShine {
    from {border: solid 2px rgb(197, 197, 197);} to
    {border: solid 2px rgb(255, 255, 255);}
}

.CadBtn {
    width: 200px;
    float: right;
    color: white;
    background-color: #015df0 !important;
    border:none;
    margin-right: 50%;
    margin-top: 10px;
    padding-bottom: 40px!important;
    height: 8vh;
    border: solid 2px rgb(197, 197, 197);

}

.CadBtn:hover {
    animation-name: BordShine;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Presc {
    color: white;
    background-color: transparent !important;
}


.linkC {
    text-decoration: none;
    color: white;
    margin-left: auto!important;
    background-color: transparent !important;
    font-size: small!important;

}

.linkC:hover {
    text-decoration: none;
    color: white;
    background-color: transparent !important;
}

@media (min-width:320px) and (max-width: 375px) {
    .TituloC{
        
    width: 290px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .linkC{
        
        font-size: medium;
    }
    .CadBtn{
        width: 150px;
        font-size: large;
        margin-right: 25%;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }
    .FormC{
        padding-left: 22px;
    }

}
@media (min-width:365px) and (max-width: 375px) {
    .TituloC{
        
    width: 310px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .linkC{
        font-size: large;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
}

@media (min-width:376px) and (max-width: 504px) {
    .TituloC{
        
    width: 360px;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputC{
        width: 107%;
        font-size: x-large;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        font-size: large;
    }
    .inputCS{
        width: 107%;
        font-size: x-large;
    }
    .inputCC{
        width: 117%;
        font-size: x-large;
    }
    
    .linkC{
        font-size: large;
   }
}
@media (min-width:376px) and (max-width: 423px) {
    .TituloC{
        
    width: 360px;
    }
   
    .inputC{
        width: 107%;
        font-size: x-large;
    }
    .inputCS{
        width: 107%;
        font-size: x-large;
    }
    .inputCC{
        width: 107%;
        font-size: x-large;
    }

}
@media (min-width:424px) and (max-width: 462px) {
    .TituloC{
        
    width: 360px;
    }
   
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 108%;
        font-size: x-large;
    }

}
@media (min-width:463px) and (max-width: 504px) {
    .TituloC{
        
    width: 430px;
    }.inputCS{
        width: 107%;
        font-size: x-large;
    }
    .inputCC{
        width: 107%;
        font-size: x-large;
    }
}

@media (min-width:505px) and (max-width: 599px) {
    .TituloC{
        
    width: 420px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        padding-bottom: 8%;
        font-size: x-large;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }
    .linkC{
        font-size: x-large;
   }
}
@media (min-width:600px) and (max-width: 789px) {
    .TituloC{
        
    width: 570px;
    }
    .CadT{
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn{
        padding-bottom: 8%;
    }
    .inputC{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }
    .CadBtn{
        font-size: x-large;
    }
    
    .linkC{
        font-size: x-large;
   }
}


@media (min-width:789px) and (max-width: 1000px) {
    .inputC{
        font-size: x-large;
        width: 100%;
    }
    .inputCS{
        font-size: x-large;
        width: 87%;
    }
    .inputCC{
        font-size: x-large;
        width: 110%;
    }
    .TituloC{
        padding: 5% 4%;
    }
    .CadT{
        margin: auto;
        font-size: 6vw;
    }
    .CadBtn{
        font-size: x-large;
    }
    
    .linkC{
        font-size: x-large;  
   }
}
@media (min-width:789px) and (max-width: 859px) {
    .TituloC{
        font-size: xx-large;
        width: 740px;
    }
    .inputC{
        font-size: x-large;
        width: 100%;
    }
    .inputCS{
        font-size: x-large;
        width: 100%;
    }
    .inputCC{
        font-size: x-large;
        width: 100%;
    }
    
    .CadBtn{
        padding-bottom: 7%;
    }
}

@media (min-width:799px) and (max-width: 1000px) {
    .CadS{
        font-size: x-large;
    }
    .CadBtn{
        padding-bottom: 7%;
    }
}

@media (min-width:1000px) and (max-width: 1440px) {
    .TituloC{
        padding: 10% 5%;
        width: 460px;
    }
    .CadS{
        font-size: x-large;
    }
    .linkC{
        font-size: x-large;

        
    }
    .inputC{
        font-size: x-large;
    }
    .inputCS{
        width: 88%;
        font-size: x-large;
    }
    .inputCC{
        display: flex;
        width: 88%;
        font-size: x-large;
    }
    .CadBtn{
        
        padding-bottom: 7%;
        font-size: x-large;
    }
}
@media (min-width:1100px) and (max-width: 1300px) {
    .TituloC{
        padding: 10% 5%;
        width: 520px;
    }
    .CadS{
        font-size: xx-large;
    }
    .CadBtn{
        
        padding-bottom: 5%;
        font-size: x-large;
    }
}
@media (min-width:1250px) and (max-width: 1440px) {
    .TituloC{
        padding: 6% 5%;
        width: 510px;
    }
    .CadT{
        margin: auto;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: x-large;
    }
}
@media (min-width:1440px) and (max-width: 2560px) {
    .TituloC{
        padding: 10% 2%;
        width: 510px;
    }
    
    .inputCS{
        width: 88%;
        font-size: x-large;
    }
    .inputCC{
        display: flex;
        width: 88%;
        font-size: x-large;
    }
    .CadT{
        margin: auto;
        font-size: 4vw;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;

    }
}
@media (min-width:1733px) and (max-width: 2560px) {
    .TituloC{
        padding: 1%;
        width: 510px;
    }
    .CadT{
        margin: auto;
        font-size: 4vw;
    }
    .Presc{
        font-size: 12vh;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;
    }
}

@media (min-width:1800px) and (max-width: 2560px) {
    
    .CadT{
        margin: auto;
        font-size: 4vw;
    }
    .CadS{
        
        font-size: xx-large;
    }
}

@media (min-width:2380px) and (max-width: 2560px) {
    .TituloC{
        padding: 1%;
        width: 510px;
    }
    .CadT{
        margin: auto;
        font-size: 3vw;
    }
    .Presc{
        font-size: 12vh;
    }
    .CadS{
        font-size: xx-large;
    }
    .linkC{
        font-size: x-large;
    }
    .inputC{
        font-size: x-large;
    }
    .CadBtn{
        font-size: xx-large;
        height: 9vh;
    }
}

