/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/
.p {
    text-align: justify;
    margin-left: -30%;
    font-size: 130%;
    padding-right: 3%;
}
.FieldD.senha
{
    width: 125% !important;
}


.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #284c69;
}
form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
form.formLogin {
    width: 100%;
    /*display: flex;*/
    flex-wrap: wrap;
    padding-left: 25%;
}

h1 {
    text-align: center;
    width: 100%;
    color: #ffff;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #ffff;
    font-weight: lighter;
}
.olhinho
{
    background-image: url("../../assets/images/olhinho.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}
input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    background-color: #32709d;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #ffff;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.email,
.password {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #337bae;
    color: #fff;
    border: 2px solid transparent;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.createAccount button:hover {
    color: #000000;
    background-color: #83bee7;
    border: 2px solid #ffff;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}

.footer{
    text-align: center;
    width: 100%;
}
.container-xl.login{
    margin-top: 20%;
}

@media (max-width: 375px) {
    .TituloC{
    width: 290px;
    }
    .CadT{
        margin: auto;
        font-size: 60px;
    }
    .linkC{
        
        font-size: medium;
    }
    .CadBtn{
        width: 150px;
        font-size: large;
        margin-right: 25%;
    }
    .CadS{
        font-size: 5vw;
    }
    .inputV{
        width: 100%;
        font-size: x-large;
    }
    .inputCS{
        width: 100%;
        font-size: x-large;
    }
    .inputCC{
        width: 100%;
        font-size: x-large;
    }
    .FormC{
        padding-left: 22px;
    }
    .possuiConta
    {
        margin-right: 25%; 
        margin-left: -25%;
    }
    .one
    {
        width: 50%;    
    }
    .oneTwo
    {
        width: 50%;
    }

}
@media (min-width:365px) and (max-width: 375px) {
    .TituloC{
        width: 310px;
    }
    .CadT{
        margin: auto;
    }
    .linkC{
        font-size: large;
    }
    .inputV{
        width: 100%;
        font-size: x-large;
    }
    .inputV.log{
        width: 130%;
    }
}
@media (min-width: 376px) and (max-width: 460px)
{
    .CadBtn{
        margin-right: 30%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 30%; 
        margin-left: -100%;
    }
    .CadT{
        margin: auto;
        font-size: 80px;
    }
}
@media (min-width: 460px) and (max-width: 767px)
{
    .CadBtn{
        margin-right: 40%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 40%; 
        margin-left: -100%;
    }
    .CadT{
        margin: auto;
        font-size: 100px;
    }
}

@media (min-width: 768px)
{
    .CadBtn{
        margin-right: 30%;
    }
    .possuiConta
    {
        text-align: right;
        margin-right: 30%;
        margin-left: -100%; 
    }
    .CadT{
        margin: auto;
        font-size: 120px;
    }
}