.content
{
  background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
  border-radius: 3%;
  width: 100%;
  padding-left:18%;
}

.mid
{
  padding-left: 5%;
  width: 100%;
  background-color: white;
}

.Carrossel
{
  height: 100%; 
  width: 100%;
}

.cont
{
    width: 100%; 
    margin-top: 3%;
}

.main-title
{
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.img_mid
{
  height: 75%;
  margin-top: 10%;
  float: left;
}

p
{
  text-align: justify;
  margin-left: -30%;
  font-size: 130%;
  padding-right: 3%;
}

ul
{
  list-Style: none; 
  margin-Left: -10.3vw;
  font-size: 130%;
}

.h2_projeto
{
  font-size: 100%;
  text-align: center;
  padding-right: 35%;
  padding-top: 25%;
}


.title {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.title .h1 {
  font-size: 100%;
  font-weight: 600;
}

.title .sub {
  font-size: 3vw;
}


.Caption h1{
  color: white;
  font-size: 3vw;
  font-weight: bold;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.EfctvDiv{
  background-color: midnightblue;
  width: 100%;
  height: 100%;
}
.EfctvCard{
  margin-right: 2.5vw;
  border: none!important;
  border-radius: 3%;
  background: #e0dfdf!important;
  height: 100%;
  width: 100%;
}
.EfctvCardG:hover > *{
 opacity: 0.2;
}
.EfctvCardG:hover > *:hover{
  opacity: 1;
 }
span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  letter-spacing:0.1em;
  -webkit-text-fill-color: rgb(0, 0, 0);
}

/* sobre */
.mother{
  width: 90%;
  height: auto;
  margin-left: 4%;
}

.about{
    width: 80%;
    background-color: white;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 0;
    overflow: hidden;
}

.integrantes{
  width: 77%;
  margin-top: 1%;
  margin-left: 10%;
}

.logo-grupo{
  width:20%;
  height: 500px;
  margin-left: 3%;
  margin-right: 3%;
}

.cards{
  width: 100%;
}

.card-text{
  text-align: center;
}

.logos{
  width: 70%;
  margin-left: 17%;
  margin-top: 2%;
}

.img-logo-empresa{
  width: 18%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.card-integrante {
  float:left;
  width: 10rem;
  margin-left: 1.5%;
  margin-top: 2%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


@media (max-width:320px)
{
  span
  {
   left: 50%;
   font-size: 100%;
  }
}

@media (max-width:375px) and (min-width: 320px)
{
  span
  {
   left: 45%;
   font-size: 115%;
  }

  .EfctvCardG{
    padding-right: 5.5%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 100px;
  }



.img_mid
{
  height: 135%;
  width: 90%;
  margin-top: 10%;
  background: url(../assets/images/home_mid_mobile.png) no-repeat;
}

.h2_projeto
{
  font-size: 150%;
  text-align: center;
  padding-left: 20%;
}

p
{    
  text-align: justify;
  padding-Right: 6vw; 
  padding-left: 21vw;
  font-Size: 80%;
}

ul
{
  list-Style: none; 
  margin-Left: -11.5vw;
  font-size: 80%;
}

}

@media (max-width:425px) and (min-width: 375px)
{
  span
  {
   left: 45%;
   font-size: 130%;
  }

  .EfctvCardG{
    padding-right: 5.5%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .Caption h1{
    color: white;
    font-size: 5vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 90px;
  }

.img_mid
{
  height: 140%;
  width: 90%;
  margin-top: 10%;
  background: url(../assets/images/home_mid_mobile.png) no-repeat;
}

.h2_projeto
{
  font-size: 140%;
  text-align: center;
  padding-left: 25%;
}

p
{    
  text-align: justify;
  padding-Right: 6vw; 
  padding-left: 21vw;
  font-Size: 80%;
}

ul
{
  list-Style: none; 
  margin-Left: -10.3vw;
  font-size: 80%;
}
}

@media (max-width:768px) and (min-width: 425px)
{
  span
  {
   left: 46%;
   font-size: 130%;
  }

  .EfctvCardG{
    padding-right: 5.5%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
    padding-right: 5%;
  }

  .Caption h1{
    color: white;
    font-size: 4vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 110px;
  }

.img_mid
{
  height: 100%;
  width: 100%;
  margin-top: 10%;
  background: url(../assets/images/home_mid_mobile.png) no-repeat;
}

.h2_projeto
{
  font-size: 140%;
  text-align: center;
  padding-left: 30%;
}

p
{    
  text-align: justify;
  font-Size: 80%;
  padding-left: 21vw;
}

ul
{
  list-Style: none; 
  margin-Left: -8.9vw;
  font-size: 70%;
}
}

@media (max-width:1024px) and (min-width: 768px)
{
  .Caption
  {
    font-size: 3vw;
  }

  span
  {
    left: 50%;
    font-size:180%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
    padding-right: 11%;
  }

  .Caption h1{
    color: white;
    font-size: 4vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 200px;
  }

.img_mid
{
  height: 130%;
  width: 100%;
  margin-top: 25%;
  float: left;
  background: url(../assets/images/home_mid_pc.png) no-repeat;
}

.h2_projeto
{
  font-size: 90%;
  text-align: center;
}

p
{    
  text-align: justify;
  padding-left: 1.5vw;
  font-Size: 100%;
}

ul
{
  list-Style: none; 
  margin-Left: -10.3vw;
  font-size: 100%;
  padding-bottom: 10%;
}
}

@media (max-width:1440px) and (min-width: 1024px)
{
  span
  {
    left: 50%;
    font-size: 200%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
    padding-right: 13%;
  }

  .Caption h1{
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 100px;
  }

.img_mid
{
  height: 400%;
  width: 100%;
  margin-top: 10%;
  background: url(../assets/images/home_mid_pc_g.png) no-repeat;
}

.h2_projeto
{
  font-size: 160%;
  text-align: center;
  padding-left: 20%;
}

p
{    
  text-align: justify; 
  font-Size: 100%;
}

ul
{
  list-Style: none; 
  margin-Left: -10.3vw;
  font-size: 100%;
  padding-bottom: 20%;
}
}

@media (max-width:2561px) and (min-width: 1440px)
{
  span
  {
    left: 50%;
    font-size: 300%;
  }

  .Carrossel
  {
    height: 100%; 
    width: 100%;
  }

  .cont
  {
    width: 100%; 
    margin-top: 3%;
  }

  .content
  {
    background: radial-gradient(circle, rgba(58,167,180,1) 0%, rgba(96,69,252,1) 100%);
    border-radius: 3%;
    width: 100%;
    padding-right: 15%;
  }

  .Caption h1{
    color: white;
    font-size: 2.7vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .mid
  {
    padding-left: 5%;
    width: 100%;
    background-color: white;
  }

  .col-md-6
  {
    height: 600px;
  }

.img_mid
{
  height: 90%;
  width: 100%;
  margin-top: 10%;
  float: left;
  background: url(../assets/images/home_mid_pc_gg.png) no-repeat;
}

.h2_projeto
{
  font-size: 220%;
  text-align: center;
}

p
{    
  text-align: justify; 
  font-Size: 130%;
}

ul
{
  list-Style: none; 
  margin-Left: -7.2vw;
  font-size: 130%;
  padding-bottom: 20%;
}
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color:transparent!important; 
}
::-webkit-scrollbar-thumb {
  background: #999; 
}
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}