.mother{
    width: 90%;
    height: 850px;
    background-color: white;
}

.Part{
    position : absolute;
    width:65vw;
    height:100%;
    z-index:-1;
}

.ranking{
    float: left;
    width: 55%;
    background-color: white;
}

.employee{
    float: left;
    width: 45%;
    background-color: white;
}

.ranking-title{
    width: 100%;
    height: auto;
}

.ranking-title-combo{
    float: left;
    align-content: flex-start;
    padding-left: 15px;
    padding-top: 15px;
}

.ranking-title-title{
    float: left;
    padding-left: 30%;
    padding-top: 15px;
}

.ranking-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.ranking-body{
    width: 97%;
    background-color: white;
    height: 700px;
    overflow: scroll;
}

.ranking-body-header{
    width: 97%;
    background-color: white;
    padding-right: 10px;
}

.employee-title{
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.employee-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.employee-body{
    width: 70%;
    background-color: white;
    height: 700px;
    overflow: scroll;
}