@media only screen and (min-width :  1024px){
    .mother{
        width: 90%;
        height: auto;
        margin-left: 4%;
    }

    .logos{
        width: 70%;
        margin-left: 17%;
        margin-top: 2%;
      }
    
    /* relatórios */
    
    .ranking-employee{
        float: left;
        width: 62%;
        height: auto;
        background-color: white;
        margin-right: 4%;
        border-radius: 3%;
    }
    
    .employee{
        float: left;
        width: 45%;
        background-color: white;
        border-radius: 3%;
    }
    
    .ranking-title{
        width: 94%;
        height: auto;
    }
    
    .ranking-title-combo{
        float: left;
        align-content: flex-start;
        padding-top: 15px;
        margin-left: 2%;
    }
    
    .ranking-title-combo-title{
        margin-right: 18%;
    }
    
    .ranking-title-title-e {
        float: inherit;
        padding-top: 15px;
        width: 60%;
        align-content: center;
        background-color: white;
    }
    
    .ranking-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
    }
    
    .ranking-body{
        width: 90%;
        background-color: white;
        height: 750px;
        
    }

    .header-fixed {
        width: 100% ;
    }
    
    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }
    
    .header-fixed > tbody > tr:after,
    .header-fixed > thead > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    
    .header-fixed > tbody {
        overflow-y: scroll;
        height: 650px;
    }
    
    .header-fixed > tbody > tr > td,
    .header-fixed > thead > tr > th {
        width: 25%;
        float: left;
    }
    
    .employee-title{
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .employee-body{
        width: 70%;
        background-color: white;
        height: 750px;
    }
    
    .header-fixed-employee {
        width: 100% ;
    }
    
    .header-fixed-employee > thead,
    .header-fixed-employee > tbody,
    .header-fixed-employee > thead > tr,
    .header-fixed-employee > tbody > tr,
    .header-fixed-employee > thead > tr > th,
    .header-fixed-employee > tbody > tr > td {
        display: block;
    }
    
    .header-fixed-employee > tbody > tr:after,
    .header-fixed-employee > thead > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    
    .header-fixed-employee > tbody {
        overflow-y: scroll;
        height: 650px;
    }
    
    .header-fixed-employee > tbody > tr > td,
    .header-fixed-employee > thead > tr > th {
        width: 50%;
        float: left;
    }
    
    
    
    .profile-picf{
        width: 35%;
        height: 100px;
        float: left;
        margin: 3%;
        background-color: transparent;
    }
    
    .nome-profilef{
        width: 50%;
        font: Helvetica;
        font-size: 25px;
        height: 30px;
        float: left;
        margin-top: 13%;
        background-color: transparent;
    }
    
    .profile-func{
        width: 100%;
        float: left;
        margin-top: -2%;
        font: Helvetica;
        font-size: 15px;
        background-color: transparent;
    }
    .profile-func > tbody > tr > td,
    .profile-func > thead > tr > td{
        width: 100%;
        float: left;
    } 
    
    label{
        font-size: 100%;
        width: 100%;
        margin-top: 6%;
        color: black;
        font-weight: normal;
        text-align: right;
    }
    
    .input{
        width: 100%;
        margin-top: 1%;
    }
    
    .select-jogos{
        width: 50%;
        margin-top: 1%;
    }
}

/* css card perfil */

.card-user-employee{
    float: left;
    width: 36%;
    padding-top: 25px;
}

.input-profile{
    background-color: white;
    color: black;
    border-color: #48D1CC;
    height: 40%;
    width: 100%;
}

.input-profile::placeholder{
    color: black;
}

.edit-employee{
    width: 20%;
    padding: 0;
    border: 0;
    background-color: transparent;
    margin-left: 40%;
}

.user-card-full {
    overflow: hidden;
}

.card-profile {
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, #6495ED ,#48D1CC);
    background: linear-gradient(to right, #6495ED ,#48D1CC);
}

.user-profile {
    padding: 20px 0;
}

.profile-img{
    width: 100%;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.card-block-e {
    padding: 1.rem;
}

.m-b-25 {
    margin-bottom: 25px;
}


.img-radius-e {
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

h6 {
    font-size: 14px;
}

.card-profile .card-block-e p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block-e {
    padding: 5%;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px ;
}

.m-b-10 {
    margin-bottom: 3%;
    margin-left: 3%;
}

.m-b-20 {
    margin-bottom: 20px;
}

.text-muted {
    color: #919aa3 ;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-800 {
    font-size: 120%;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px ;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 789px) and (min-width: 600px){
    .employee-title {
        padding-left: 32%;
    }
    .ranking-title-title-e {
        padding-top: 15px;
        padding-left: 1%;
        align-content: center;
    }
}

/* design celular */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .ranking-title-title-e{
        float: left;
        padding-left: 0%;
        width: 70%;
        align-content: center;
    }
    .header-fixed {
        width: 100% ;
    }
    
    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }
    
    .header-fixed > tbody > tr:after,
    .header-fixed > thead > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    
    .header-fixed > tbody {
        overflow-y: scroll;
    }
    
    .header-fixed > tbody > tr > td,
    .header-fixed > thead > tr > th {
        width: 25%;
        float: left;
    }
    .ranking-body{
        display: flex;
    }
    .employee-text {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -41%;
        font-size: 200%;
    }
    .employee-body{
        width: 100%;
    }
    .profile-func{
        width: 100%;
        float: left;
        margin-top: -2%;
        font: Helvetica;
        font-size: 15px;
        background-color: transparent;
    }
    .img-radius-e {
        height: 115px;
        width: 115px;
    }

    .switch-profile {
        margin-left: 80%;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 14%;
    }
}
@media (min-width: 576px){
    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        background-color: white;
    }
}
@media (min-width:320px) and (max-width: 375px) {
    
    .ranking-employee{
        width: 100%;
        margin-left: 0%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }
    
    .employee-body{
        height: auto;
    }

    .ranking-title{
        width: 94%;
        height: auto;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%; 
        border-radius: 3%;
        background-color: white;
    }

    .ranking-title-combo{
        width: 98%;
    }

    .employee-title{
        padding-left: 25%;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 90%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .card-user-employee{
        width: 115%;
        margin-left: -10%;
        float: left;
    }

    .card-profile {
        border-radius: 20px;
        border: none;
        margin-bottom: 30px;
        background-color: #fff;
    }

    .card-block-e {
        padding: 5%;
    }

    .m-b-10 {
        margin-bottom: 3%;
        margin-left: -35%;
    }

    .f-w-600 {
        font-weight: 600;
    }
}

@media (min-width:365px) and (max-width: 375px) {
    .ranking-employee{
        width: 100%;
        margin-left: 0%;
    }
    

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }

    .ranking-title{
        width: 94%;
        height: auto;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed> thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 90%;
    }

    .header-fixed > tbody {
        height: 350px;
    }/*  !!! */


    .img-radius-e {
        height: 130px;
        width: 130px;
    }

    .card-user-employee{
        width: 105%;
        margin-left: -5%;
    }

    .m-b-10 {
        margin-left: -45%;
    }
}

/* responsividade */

@media (min-width:376px) and (max-width: 504px) {
    .ranking-employee{
        width: 100%;
        margin-left: 0%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 90%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .img-radius-e {
        height: 140px;
        width: 140px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 11%;
    }
    
    .card-profile{
        margin-left: -20%;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 95%;
    }

    .header-fixed > tbody {
        height: 250px;
    }

    .m-b-10 {
        margin-left: -35%;
    }
}

@media (min-width:375px) and (max-width: 667px) {
    .card-user-employee{
        width: 100%;
        margin-left: 0%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }

    .m-b-10 {
        margin-left: -30%;
    }
}

@media (min-width:505px) and (max-width: 599px) {
    .ranking-employee{
        width: 90%;
        margin-left: 5%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed> thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .img-radius-e {
        width: 180px;
        height: 180px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }
    
    .card-profile{
        margin-left: -10%;
    }

    .m-b-10 {
        margin-left: -37%;
    }
}

@media (min-width:600px) and (max-width: 789px) {
    .ranking-employee{
        width: 100%;
        margin-left: 0%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }
    
    .card-profile{
        margin-left: -10%;
    }
    
    .m-b-10 {
        margin-left: -55%;
    }
}

@media (min-width:700px) and (max-width: 789px) {
    .ranking-employee{
        width: 90%;
        margin-left: -2%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }
    
    .m-b-10 {
        margin-left: -55%;
    }    
}

@media (min-width:789px) and (max-width: 1000px) {
    .ranking-employee{
        width: 93%;
        margin-left: 6%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }

    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .img-radius-e {
        height: 120px;
        width: 120px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }
        .m-b-10 {
        margin-left: -3%;
    }
}

@media (min-width:789px) and (max-width: 859px) {
    .ranking-employee{
        width: 95%;
        margin-left: 5%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }
    
    .m-b-10 {
        margin-left: -3%;
    }
}

@media (min-width:799px) and (max-width: 1000px) {
    .ranking-employee{
        width: 95%;
        margin-left: 5%;
    }

    .ranking-title-title-e{
        width: 98%;
        margin-left: 1%;
    }
    
    .ranking-title-combo{
        width: 100%;
    }
    
    .ranking-body{
        width: 92%;
        height: auto;
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        font-size: 100%;
    }

    .header-fixed > tbody {
        height: 350px;
    }

    .card-user-employee{
        width: 90%;
        margin-left: 9%;
    }

    .m-b-10 {
        margin-left: -3%;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .m-b-10 {
        margin-left: -3%;
    }
    .ranking-employee{
        margin-left: 2%;
    }
}