.header {
  background-color: #282c34;
  min-height: 8vh;
  height: 8vh;
  display: flex;
  align-items: center; /* Centro da linha (eixo y - altura) */
  justify-content: center; /* Centro da coluna (eixo x - largura) */
  font-size: 16pt;
  color: white;
}

.svg-logo {
  max-height: 50px;
}

.link {
  color: #61dafb;
}