body {
    background: radial-gradient(
        circle,
        rgba(58, 167, 180, 1) 0%,
        rgba(96, 69, 252, 1) 100%
    );
}

.FormC {
    margin-top: 6%;
    margin-bottom: 21.6%;
    background: transparent !important;
}

.FormC b {
    font-size: 150%;
    background: transparent !important;
}

.inputC {
    background-color: #0255da !important;
    position: 50%;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    width: 105%;
    color: white;
    height: 7vh;
}

::-webkit-input-placeholder {
    color: rgb(184, 184, 184);
}
.oneAcess {
    width: 69%;
    text-align: center;
    font-weight: bold;
}
a.one {
    color: white;
}
.CadT {
    margin: auto;
    font-size: 5vw;
    color: white;
    background: transparent !important;
}
.Part {
    position: absolute;
    width: 65vw;
    height: 100%;
    z-index: -1;
}
.CadS {
    font-size: x-large;
    overflow-wrap: break-word;
    color: white;
    background: transparent !important;
}

.TituloC {
    width: 380px;
    background-color: transparent !important;
    padding: 5% 3%;
}

@keyframes Flick {
    from {
        color: white;
        background-color: white !important;
    }
    to {
        color: transparent;
        background-color: transparent;
    }
}

.Flick {
    height: 3px;
    width: 20px;
    color: white;
    background-color: white;
    animation-name: Flick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes BordShine {
    from {
        border: solid 2px rgb(197, 197, 197);
    }
    to {
        border: solid 2px rgb(255, 255, 255);
    }
}

.CadBtn {
    width: 200px;
    float: right;
    color: white;
    background-color: #015df0 !important;
    border: none;
    margin-right: 17%;
    margin-top: 10px;
    margin-left: 15%;
    height: 8vh;
    border: solid 2px rgb(197, 197, 197);
}

.CadBtn:hover {
    animation-name: BordShine;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Presc {
    color: white;
    background-color: transparent !important;
}

.linkC {
    text-decoration: none;
    color: white;
    background-color: transparent !important;
}

.linkC:hover {
    text-decoration: none;
    color: white;
    background-color: transparent !important;
}
.img-logo.login {
    max-height: 31vh;
}
.col.image {
    text-align: center;
    padding-top: 25px;
    padding-right: 10%;
}
p.FieldD.senha {
    width: 100%;
}
button .icone {
    color: white;
    font-size: 28px;
}
button.icone {
    outline: 0;
}
.one{    
    margin-left: -109px;
    color: white;
}
.one:hover {
    text-decoration: none;
    color: white;
}
.oneTwo{
    color: white;
    padding: 0px 36px 0px 60px;
}
.oneTwo:hover {
    text-decoration: none;
    color: white;
}
.CadBtn.cad{
    margin-right: 40%;
}
.recuperaEmail{
    width: 89%;
    margin-left: 1%;
    border: solid;
    background: white;
    border-color: #00428a;
}
.modal-header{
    font-weight: 600;
    color: black;
}
.alert-danger{
    margin-top: 4%;
}
@media (min-width: 320px) and (max-width: 375px) {
    .TituloC {
        width: 290px;
    }
    .CadT {
        margin: auto;
        font-size: 10vw;
    }
    .linkC {
        font-size: medium;
    }
    .CadBtn {
        width: 150px;
        font-size: large;
        margin-right: 31%;
        margin-left: 24%;
    }
    .CadS {
        font-size: 5vw;
    }
    .inputC {
        font-size: x-large;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    .img-logo.login {
        max-height: 20vh;
    }
    p.FieldD.senha {
        width: 122%;
        margin-left: -22%;
    }
    button .icone {
        margin-left: 9.2vh;
        margin-right:2%;
        font-size: 21px;
    }
    .one {
        margin-left: -12px;
    }
    .oneTwo{
        padding: 0px 5px 0px 30px;

    }
    .CadBtn.cad {
        margin-right: 23%;
    }
}

@media (min-width: 375px) and (max-width: 812px) {
    a.icone{
        margin-left: 0.2vh;
        margin-right: -24%;
    }
   

}
@media (min-width: 365px) and (max-width: 375px) {
    .TituloC {
        width: 310px;
    }
    .CadT {
        margin: auto;
        font-size: 10vw;
    }
    .linkC {
        font-size: large;
    }
    .inputC {
        width: 130%;
        font-size: x-large;
        
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    p.FieldD.senha {
        width: 100%;
    }
    svg.icon {
        margin-left: 28vh;
    }
}

@media (min-width: 376px) and (max-width: 504px) {
    .TituloC {
        width: 360px;
    }
    .CadS {
        font-size: 5vw;
    }
    .inputC {
        font-size: x-large;
    }
    .CadT {
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn {
        font-size: large;
    }

    .linkC {
        font-size: large;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    form.formLogin {
        width: 100%;
        flex-wrap: wrap;
        margin-left: 19%;
    }
    button .icone {
        margin-left: 0.2vh;
        margin-right: -3%;
    }
}
@media (min-width: 463px) and (max-width: 504px) {
    .TituloC {
        width: 430px;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    .linkC {
        font-size: large;
    }
}

@media (min-width: 505px) and (max-width: 599px) {
    .TituloC {
        width: 420px;
    }
    .CadT {
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn {
        padding-bottom: 8%;
        font-size: x-large;
    }
    .inputC {
        width: 115%;
        font-size: x-large;
    }

    .linkC {
        font-size: x-large;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
        margin: 46px;
    }
    p.FieldD.senha {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 789px) {
    .TituloC {
        width: 570px;
    }
    .CadT {
        margin: auto;
        font-size: 10vw;
    }
    .CadBtn {
        padding-bottom: 8%;
    }
    .inputC {
        width: 150%;
        font-size: x-large;
    }
    .CadBtn {
        font-size: x-large;
    }

    .linkC {
        font-size: x-large;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    p.FieldD.senha {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 789px) {
    .CadBtn {
        font-size: x-large;
    }
    .FormC {
        margin-top: 8%;
    }
    .TituloC {
        width: 670px;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    p.FieldD.senha {
        width: 100%;
    }
}
@media (min-width: 789px) and (max-width: 1000px) {
    .inputC {
        font-size: x-large;
    }
    .TituloC {
        padding: 5% 4%;
    }
    .CadT {
        margin: auto;
        font-size: 6vw;
    }
    .CadBtn {
        font-size: x-large;
    }

    .linkC {
        font-size: x-large;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    p.FieldD.senha {
        width: 100%;
    }
}
@media (min-width: 789px) and (max-width: 859px) {
    .TituloC {
        font-size: xx-large;
        width: 740px;
    }
    .FieldD {
        margin-right: 10%;
    }
    .inputC {
        width: 190%;
        font-size: x-large;
    }
    .CadBtn {
        padding-bottom: 7%;
    }
    .oneAcess {
        width: 100%;
        text-align: center;
    }
    p.FieldD.senha {
        width: 100%;
    }
}

@media (min-width: 799px) and (max-width: 1000px) {
    .CadS {
        font-size: x-large;
    }
    .CadBtn {
        padding-bottom: 7%;
    }
}

@media (min-width: 1000px) and (max-width: 1440px) {
    .TituloC {
        padding: 10% 5%;
        width: 460px;
    }
    .CadS {
        font-size: x-large;
    }
    .linkC {
        font-size: x-large;
    }
    .inputC {
        height: 8vh;
        font-size: x-large;
    }
    .CadBtn {
        padding-bottom: 7%;
        font-size: x-large;
    }
}
@media (min-width: 1100px) and (max-width: 1300px) {
    .TituloC {
        padding: 10% 5%;
        width: 520px;
    }
    .CadS {
        font-size: xx-large;
    }
    .inputC {
        height: 8vh;
        font-size: x-large;
    }
    .CadBtn {
        padding-bottom: 5%;
        font-size: x-large;
    }
}
@media (min-width: 1250px) and (max-width: 1440px) {
    .TituloC {
        padding: 6% 5%;
        width: 510px;
    }
    .CadT {
        margin: auto;
    }
    .CadS {
        font-size: xx-large;
    }
    .linkC {
        font-size: x-large;
    }
    .inputC {
        height: 8vh;
        font-size: x-large;
    }
    .CadBtn {
        font-size: x-large;
    }
}
@media (min-width: 1440px) and (max-width: 2560px) {
    .TituloC {
        padding: 10% 2%;
        width: 510px;
    }
    .CadT {
        margin: auto;
        font-size: 4vw;
    }
    .CadS {
        font-size: xx-large;
    }
    .linkC {
        font-size: x-large;
    }
    .inputC {
        height: 9vh;
        font-size: x-large;
    }
    .CadBtn {
        font-size: xx-large;
        height: 9vh;
    }
}
@media (min-width: 1733px) and (max-width: 2560px) {
    .TituloC {
        padding: 1%;
        width: 510px;
    }
    .CadT {
        margin: auto;
        font-size: 4vw;
    }
    .Presc {
        font-size: 12vh;
    }
    .CadS {
        font-size: xx-large;
    }
    .linkC {
        font-size: x-large;
    }
    .inputC {
        height: 9vh;
        font-size: x-large;
    }
    .CadBtn {
        font-size: xx-large;
        height: 9vh;
    }
}

@media (min-width: 1800px) and (max-width: 2560px) {
    .CadT {
        margin: auto;
        font-size: 4vw;
    }
    .CadS {
        font-size: xx-large;
    }
}

@media (min-width: 2380px) and (max-width: 2560px) {
    .TituloC {
        padding: 1%;
        width: 510px;
    }
    .CadT {
        margin: auto;
        font-size: 3vw;
    }
    .Presc {
        font-size: 12vh;
    }
    .CadS {
        font-size: xx-large;
    }
    .linkC {
        font-size: x-large;
    }
    .inputC {
        height: 9vh;
        font-size: x-large;
    }
    .CadBtn {
        font-size: xx-large;
        height: 9vh;
    }
}
